<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/image/thermometer.png">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla|Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Weather App</title>
</head>
<body>
  <nav>
    <div class="logo">
      <span>HYF<a href="#">Temperature</a></span>
    </div>
  </nav>
  <header>
    <h1>Get your weather forecast</h1>
    <div class="overlay">
    </div>
  </header>
    <div class="container">
  {{{body}}}
    </div>
  <footer>
    <div class="copyright">
    <span>© 2019 Copyright:
            <a href="#"> Ali Kadhim</a></span>
    </div>

  </footer>
</body>
</html>