<div class="holder">
<form action="/weather" method="POST">
        <input type="text" placeholder="Enter a City" name="cityName">
        <button type="submit" name="action">Submit</button>
    </form>
</div>

